@page "{id:int}"
@model web_voting_sys.Pages.Polls.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Poll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Poll.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poll.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poll.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poll.EndTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poll.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poll.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poll.PollCreator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poll.PollCreator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Poll.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Poll.Type)
        </dd>
        <!--The code below displays poll questions-->
        <dt>Questions</dt>
        @foreach (var question in Model.PollQuestions)
        {
            <!--Display all of the choices for each question-->
        <dd>@Html.DisplayFor(model => question.Question)</dd>
            @for (int i = 0; i < Model.Poll.AnswersPerQuestion; ++i)
            {
                <dd>Choice: @Model.PollChoices[@Model.PollQuestions.IndexOf(question)][i].Choice</dd>
                <dd>Number of Votes: @Model.PollChoices[@Model.PollQuestions.IndexOf(question)][i].VoteTally</dd>
            }
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Poll.ID">Edit</a> |
    <a asp-page="./Pollindex">Back to List</a>
</div>
