@page
@model web_voting_sys.Pages.Polls.VoteModel

@{
    ViewData["Title"] = "Vote";
}

<h2>Vote</h2>

<h4>Poll</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        
            @foreach (var question in Model.PollQuestions)
             {
                <!--Display all of the choices for each question-->
                <h2>@Html.DisplayFor(model => question.Question)</h2>
                    @for (int i = 0; i < Model.Poll.AnswersPerQuestion; ++i)
                     {
                        <div>@Model.PollChoices[@Model.PollQuestions.IndexOf(question)][i].Choice</div>
                        //<a asp-page="." /a>
                        <a class="btn btn-default"
                           asp-page="./VoteConfirmation" asp-route-id ="@Model.Poll.ID" asp-route-question = "@Model.PollQuestions.IndexOf(question)" asp-route-choice="@i">
                           Vote
                        </a>
                        <p>&nbsp; </p>
                     }
                <p>&nbsp; </p>
             }
        
    </div>
</div>
<div>
    <a asp-page="./Pollindex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
